#!/bin/bash

$HOME/.asdf/bin/asdf plugin-add ripgrep 
$HOME/.asdf/bin/asdf plugin-add fzf https://github.com/kompiro/asdf-fzf.git
$HOME/.asdf/bin/asdf plugin-add azure-cli https://github.com/itspngu/asdf-azure-cli
$HOME/.asdf/bin/asdf plugin-add krew https://github.com/jimmidyson/asdf-krew.git
$HOME/.asdf/bin/asdf plugin-add neovim https://github.com/richin13/asdf-neovim.git
$HOME/.asdf/bin/asdf plugin-add terraform https://github.com/asdf-community/asdf-hashicorp.git
$HOME/.asdf/bin/asdf plugin-add terraform-ls https://github.com/asdf-community/asdf-hashicorp.git
$HOME/.asdf/bin/asdf plugin-add helm https://github.com/Antiarchitect/asdf-helm.git
$HOME/.asdf/bin/asdf plugin-add kubectl https://github.com/asdf-community/asdf-kubectl.git

$HOME/.asdf/bin/asdf install
