[includeIf "gitdir:~/**"]
        path = .gitconfig_personal
[includeIf "gitdir:/Volumes/src/**"]
        path = .gitconfig_personal
[includeIf "gitdir:~/work/me/**"]
        path = ~/work/me/.gitconfig_work
[status]
	submoduleSummary = false
[branch]
	autosetupmerge = always
[push]
	default = current
[github]
	user = amnk
[diff "sopsdiffer"]
	textconv = sops -d
